<p-button (onClick)="showDialog()" icon="pi pi-plus" label="Create Item" rounded="true" severity="success" />

<p-dialog 
    header="Create new Item" 
    [modal]="true" 
    [(visible)]="dialogVisible" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" 
    [style]="{ width: '50vw' }" 
    [draggable]="false"
    [resizable]="false">
    <form [formGroup]="productForm">
        <div class="flex flex-column gap-5">
            <p-floatLabel>
                <input type="text" pInputText formControlName="name" class="w-full" />
                <label for="name">Name</label>
            </p-floatLabel>
            <div class="flex gap-3">
                <p-floatLabel>
                    <p-inputNumber formControlName="price" inputId="currency-us" mode="currency" currency="USD"
                        locale="en-US" />
                    <label for="price">Price</label>
                </p-floatLabel>
                <div class="flex-grow-1">
                    <p-floatLabel>
                        <p-dropdown formControlName="category" [options]="categoryOptions" optionLabel="name" placeholder="Select a Category" [styleClass]="'w-full'" />
                        <label for="category">Category</label>
                    </p-floatLabel>
                </div>
            </div>
            <p-floatLabel>
                <textarea type="text" pInputTextarea formControlName="description" class="w-full" rows="4"
                    cols="30"></textarea>
                <label for="description">Description</label>
            </p-floatLabel>
        </div>
        <div class="flex justify-content-end gap-3 mt-5">
            <p-button label="Cancel" rounded="true" severity="secondary" (onClick)="dialogVisible = false" />
            <p-button type="submit" label="Save" rounded="true" severity="success" [disabled]="productForm.invalid" (onClick)="submitProduct()" />
        </div>
    </form>
</p-dialog>

<p-toast />