<p-dataView #dv [value]="products" [rows]="8" [paginator]="true" layout="grid">
    <ng-template pTemplate="header">
        <div class="flex justify-content-between align-items-center">
            <h1>Update Menu</h1>
            <app-add-product></app-add-product>
        </div>
    </ng-template>
    <ng-template pTemplate="grid" let-products>
        <div class="grid grid-nogutter p-2">
            <div class="col-12 sm:col-6 md:col-4 xl:col-3 p-2" *ngFor="let item of products; let first = first">
                <div class="p-4 border-1 surface-border surface-card border-round flex flex-column">
                    <div class="relative mx-auto h-10rem w-full">
                        <img class="border-round w-full h-full" [src]="item.image" [alt]="item.name" />
                    </div>
                    <div class="pt-4">
                        <div class="flex flex-column gap-2">
                            <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                            <div class="text-lg font-medium text-900 mt-1">{{ item.name }}</div>
                            <p class="text-secondary text-sm">{{item.description}}</p>
                        </div>
                        <div class="flex justify-content-end mt-4">
                            <p-button icon="pi pi-trash" text="true" raised="true" severity="danger" label="Remove" rounded="true" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>