<p-dataView #dv [value]="orders" [paginator]="true" [totalRecords]="totalRecords" (onPage)="onPageChange($event)" [lazy]="true">
    <ng-template pTemplate="header">
        <h1>Orders</h1>
        <div class="flex flex-wrap align-items-end gap-3 my-4">
            <div class="flex flex-column gap-2 w-full md:w-auto">
                <label for="customerNameSearch">Customer</label>            
                <input [(ngModel)]="customerNameSearch" type="text" pInputText name="customerNameSearch" class="w-full" />
            </div>
            <div class="flex flex-column gap-2 w-full md:w-auto">
                <label for="addressSearch">Address</label>            
                <input [(ngModel)]="addressSearch" type="text" pInputText name="addressSearch" class="w-full" />
            </div>
            <div class="flex flex-column gap-2 w-full md:w-15rem">
                <label for="statusSearch">Status</label>     
                <p-dropdown [options]="statusList" [(ngModel)]="statusSearch" [showClear]="true" placeholder="Select a Status" [styleClass]="'w-full'" />
            </div>
            <div class="flex flex-column gap-2 w-full md:w-auto">
                <label for="fromTimeSearch">Initial date</label>       
                <p-calendar 
                    inputId="fromTimeSearch" 
                    [(ngModel)]="fromTimeSearch" 
                    [showTime]="true" 
                    [hourFormat]="'24'"
                    [styleClass]="'w-full'"/>     
            </div>
            <div class="flex flex-column gap-2 w-full md:w-auto">
                <label for="fromTimeSearch">Final date</label>       
                <p-calendar 
                    inputId="toTimeSearch" 
                    [(ngModel)]="toTimeSearch" 
                    [showTime]="true" 
                    [hourFormat]="'24'"
                    [styleClass]="'w-full'"/>     
            </div>
            <div class="flex flex-column gap-2 w-full md:w-15rem">
                <label for="sortSearch">Sort by</label>     
                <p-dropdown [options]="sortOptions" [(ngModel)]="sortSearch" [showClear]="true" optionLabel="label" placeholder="Select an option" [styleClass]="'w-full'" />
            </div>
            <p-button (onClick)="getOrders(0, 10)" icon="pi pi-filter" label="Filter" />
            <p-button (onClick)="clearFilters()" icon="pi pi-times" label="Clear" severity="secondary" />
        </div>
    </ng-template>
    <ng-template pTemplate="list">
        <div class="grid grid-nogutter">
            <div class="col-12" *ngFor="let order of orders; let first = first" class="col-12">
                <div class="flex flex-column lg:flex-row justify-content-between lg:align-items-center p-4 gap-2 lg:gap-6"
                    [ngClass]="{ 'border-top-1 surface-border': !first }">
                    <div class="flex gap-3 flex-1">
                        <h1 class="text-lg m-0 hidden lg:block"># {{order.id}}</h1>
                        <div>
                            <span class="font-medium text-sm">{{ formatDate(order.createdAt) }}</span>
                            <div class="text-lg font-bold text-900 mt-2 mb-4">Customer: {{ order.customerName }}</div>
                            <div><b>Address:</b> {{ order.address }} </div>
                        </div>
                        <h1 class="text-lg m-0 lg:hidden"># {{order.id}}</h1>
                    </div>
                    <div class="flex-1">
                        <h3>Resume</h3>
                        <ul class="pl-4">
                            <li *ngFor="let orderProduct of order.products">
                                {{orderProduct.quantity}}x {{orderProduct.product.name}} - {{orderProduct.product.price | currency:'USD':'symbol'}}
                            </li>
                        </ul>
                        <div><b>Total:</b> {{getTotalPrice(order.products) | currency:'USD':'symbol'}}</div>
                    </div>
                    <p-timeline [value]="statusList" layout="horizontal" styleClass="customized-timeline flex-1">
                        <ng-template pTemplate="marker" let-status>
                            <span
                                class="p-2 border-circle shadow-3 {{status == order.status ? 'bg-teal-400 text-white' : ''}} {{getStatusIcon(status)}}"></span>
                        </ng-template>
                        <ng-template pTemplate="content" let-status>
                            <div class="text-sm capitalize {{status == order.status ? 'font-bold' : ''}}">
                                {{status}}
                            </div>
                        </ng-template>
                    </p-timeline>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>
<p-toast />