<div class="grid grid-nogutter align-items-center">
    <div class="col-12 md:col-6 flex flex-column gap-5 flex-order-1 md:flex-order-0">
        <h1 class="font-normal text-7xl mb-0 md:m-0">Order your <br><b>favourite</b> foods</h1>
        <p class="line-height-3 md:w-10">
            Explore our menu, customize your order, and enjoy a delicious meal without leaving
            the comfort of your home. <b>Your favorite dishes are just a click away!</b>
        </p>
        <a routerLink="/products">
            <p-button label="Check the Menu" [rounded]="true" severity="danger" [styleClass]="'w-full md:w-5'" size="large" />
        </a>
    </div>
    <div class="col-12 md:col-6">
        <img src="assets/images/home.png" alt="" class="max-w-full h-auto">
    </div>
</div>